@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap');
/* font-family: 'Open Sans Condensed', sans-serif; */
/* font-family: 'Staatliches', cursive; */

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif; 
  background-color: lightblue;
}

#root {
  width: 100%;
}

#container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  1fr 2.5fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  grid-area: header;
  font-family: 'Staatliches', cursive; 
  text-align: center;
}

header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: rgb(43, 43, 43);
}

header > h1 > img {
  max-height: 60px;
  margin: 0px 15px;
  transform: rotate(20deg);
}

#left-flag {
  -webkit-transform: scaleX(-1) rotate(-20deg);
  transform: scaleX(-1) rotate(20deg);

}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#trump-gif {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#trump-gif > img {
  border: 5px solid rgba(243, 243, 243, 0.767);
  box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.04);
  border-radius: 10px;
  max-height: 300px;
  width: auto;
}

.speech-bubble {
  margin-left: 10px;
  min-height: 20px;
  max-width: 50%;
	position: relative;
	background: #ffffff;
  border-radius: .4em;
  padding: 10px;
  box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.04);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -16px;
	margin-left: -32px;
}

.simple-trans-main {
  width: 50%;
}

.simple-trans-main > div {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#want-more {
  background-color: rgb(218, 40, 40);
  border: 5px solid rgba(0, 0, 0, 0.123);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.384);
  cursor: pointer;
  outline: none;
  font-family: 'Staatliches', cursive; 
  margin: 30px;
}


/* Mobile */
@media screen and (max-width: 600px) {
  #container {
    grid-template-rows:  0.5fr 2fr 0.5fr;
  }

  header > h1 {
    font-size: 2em;
  }

  header > h1 > img  {
    max-height: 30px;
    width: auto;
    margin: 0px 10px;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  #trump-gif {
    width: 100%;
    justify-content: center;
  }

  #trump-gif > img {
    max-width: 90%;
    width: auto;
  }

  .speech-bubble {
    max-width: 85%;
    margin: 0;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
  }

  .simple-trans-main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .simple-trans-main > div {
    margin-top: 10px;
    width: 100%;
  }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #container {
    grid-template-rows:  0.5fr 3fr 0.5fr;
  }

  main {
    flex-direction: column;
    justify-content: center;
  }

  #trump-gif {
    width: 100%;
    justify-content: center;
  }

  #trump-gif > img {
    max-width: 100%;
    width: auto;
  }

  .speech-bubble {
    max-width: 40%;
    margin: 0;

  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
  }

  .simple-trans-main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .simple-trans-main > div {
    margin-top: 10px;
    width: 100%;
  }

}

